.bgcolor {
    background-color: rgb(105, 105, 99) !important;    
}

.carousel-item img{
    height: 500px;
    object-fit: cover;
}
.profile-img {
     width: 150px; height: auto !important;
    object-fit: cover !important;  }
    /* style.css içində */
.custom-card {
    transition: transform 0.3s ease, shadow 0.3s ease;
    cursor: pointer;
}

.custom-card:hover {
    transform: translateY(-10px); /* Kartı bir az yuxarı qaldırır */
    box-shadow: 0 10px 20px rgba(0,0,0,0.2) !important;
}
.cv-header {
    background: linear-gradient(180deg, #f5f7fa 0%, #c3cfe2 100%);
    border: 1px solid #dee2e6; 
}
.cv-header h1 {
    color: #2c3e50;
}
.ilgi-header {
    background: linear-gradient(45deg, #6a11cb 0%, #2575fc 50%, #ff8c00 100%);
    border-bottom: 5px solid rgba(255, 255, 255, 0.1);
    border-radius: 0 0 50px 50px; /* Alt kənarları yumşaq dairəvi edirik */
}

